

# Folder

*/bin/*
!*/bin/data/

# General

*/[Bb]uild/
*/[Oo]bj/
*.o
*/[Dd]ebug*/
*/[Rr]elease*/
*.mode*
*.app/
*.pyc
.svn/
*.log

*/bin/data/openni/
*/bin/data/openni/config/
*/bin/data/openni/lib/
*/include/
*/lib/


# IDE

# XCode
*.pbxuser
*.perspective
*.perspectivev3
*.mode1v3
*.mode2v3
# XCode 4
xcuserdata
*.xcworkspace
*.xcscheme
*.pbxproj
*.make
Makefile
*.plist
.gitkeep
*.xcconfig





# OSX
.DS_Store
*.swp
*~.nib
# Thumbnails
._*

